.right{
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
}

.container{
  max-width: 900px;
}
.cart-title{
  font-size: 20px;
}
.btn-cart{
  display: flex;
  justify-content: flex-end;
}
