<div *ngIf="orders.length; else noOrders">
  <h2 class="text-center">Table of orders</h2>

  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>Phone</th>
      <th>Name</th>
      <th>Address</th>
      <th>Price</th>
      <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let order of orders ">
      <td>{{order.date | date : "medium"}}</td>
      <td>{{order.phone}}</td>
      <td>{{order.name}}</td>
      <td>{{order.address}}</td>
      <td>{{order.price}}</td>
      <td>
        <button class="btn btn-danger" (click)="remove(order.id)" style="margin: 0;">Complited</button>
      </td>
<!--    </tr>-->

    </tbody>
  </table>
</div>

<ng-template #noOrders>
  <p class="text-center">No orders...</p>
</ng-template>
